<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">
  <ul class="article-ul">
    <% data.forEach(ele => { %>
    <li>
      <a href="/admin/post/<%= ele._id %>">
        <span><%= ele.title %></span>
        <span class="article-list__date"
          ><%= ele.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
</section>
